.titleBar-AC4pGV.typeWindows-1za-n7::after {
    content: "";
    position: absolute;
    pointer-events: none;
    background: url('https://raw.githubusercontent.com/Rdimo/betterdiscord-theme-rdimos-comfy-corner/main/Comfort/doggo.gif') center/100% no-repeat;
    border-radius: 7px;
    width: 16px;
    height: 16px;
    left: 5px;
    top: 3px;
}
.titleBar-AC4pGV .wordmark-2iDDfm svg {
    width: 0;
}
.titleBar-AC4pGV .wordmark-2iDDfm::after {
    content: "BetterComfort";
    position: absolute;
    font-family: "Fredoka One";
    background: linear-gradient(to right, #ff00c1, #9600ff, #4900ff, #00b8ff, #00fff9);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 13px;
    font-weight: 550;
    top: 5px;
    left: 25px;
    width: 135px;
    animation: textclip 1.5s linear infinite;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}